span{
    position: relative;
   background-color:white;
    height: 0.5vh;
    width: 6vw;
    margin: 5px;
    top: -80px;
    z-index: 1;

}


#hamburger{
   
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
   text-decoration: none;
   z-index: 1;

   #burger{
       position: relative;
    z-index: 2;
    opacity: 0;
   height: 8vh;
   top: -30px;
   width: 6vw;
     }

     input:checked ~ span:first-child {
         transform: rotateX(20px);
         transform: rotateY(2px);
     }

     span:nth-last-child(2){
         transition: 00.5s;
     }

     input:checked ~ span:nth-last-child(2) {
         transition: 0.5s;
        opacity: 0;
    }


    
}

#name{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    padding: 20px;

    button{
        margin-top: 20vh;
    }
}

.cv{
    position: relative;
    right: -95px;
    margin: 10vh;
    border-radius: 25px;
    color: white;
    background-color: black;

    
    
}

.name{
    
  
    border-radius: 25px;
    color: black;
    background-color: white;
    font-family: 'Bebas Neue', cursive;

}

